
.card-posts {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @include mobile { grid-template-columns: 1fr; grid-gap: 10px; }
}

.stickhead {
  @include mobile {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;}
 }
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.sticky + .content {
  padding-top: 80px;
}