
.card-posts {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @include mobile { grid-template-columns: 1fr; grid-gap: 10px; }
}

.stickhead {
 height: 60px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.sticky + .content {
  padding-top: 110px;
}