---
layout: default
---

<div class="posts post-fix">
  {% for post in paginator.posts %}
    <ion-card href="{{ site.baseurl }}{{ post.url }}" class="post cover" style="background-image: url({{ post.img }});">
<ion-badge class="badge" color="{{post.color}}">{{post.res}}</ion-badge>
    <ion-card-subtitle class="title">
<div class="separator"></div>
      <span style="padding: 5px 3px;color:#fff;">{{ post.title }}</span>
      <div class="entry">
<div class="flex-between" data-content-feature="2">
<div class="fG8Fp">{{ post.tgl }}</div> 
<g-review-stars aria-hidden="true">
<span style="width:33px"></span>
<span><ion-icon sloat="start" name="star" style="color: #ffce00;"></ion-icon> {{ post.midb }}</span></g-review-stars></div>
      </div>
    </ion-card-subtitle>
    </ion-card>
  {% endfor %}
</div>
            {% include paginator.html %}
