---
layout: default
---

<div class="container mx-auto card-posts">
  {% for post in paginator.posts %}
  <div class="card">
    <img src="{{ site.baseurl }}/{{ post.img }}" class="card-img-top" alt="{{ post.title }}">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
      <p class="card-text">
        {{ post.content | strip_html | strip | truncate: 100 }}</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated {{ post.date | date: "%B %e, %Y" }}</small>
    </div>
  </div>
  {% endfor %}
</div>


<!-- Pagination links -->

<nav aria-label="Page navigation">
  <ul class="pagination">
  {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
  {% else %}
    </li>
  {% endif %}
    <li class="page-item">{{ paginator.page }} of {{ paginator.total_pages }}</li>
  {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
  {% else %}
    </li>
  {% endif %}
  </ul>
</nav>
