<div class="aside">
<ion-card class="flex-in">
<img class="img-side" src="{{page.img}}" />
<ion-card-content>
<ion-note>Judul Film: {{page.title}}</ion-note>
<br/>
<ion-note>Skor: {{page.midb}}</ion-note>
<br/>
<ion-note>Terbit: {{page.tgl}}</ion-note>
<br/>
<ion-note>Genre: 
    {% if post %}
    {% assign categories = post.categories %}
    {% else %}
    {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    {{category}}
    {% unless forloop.last %},{% endunless %}
    {% endfor %}</ion-note>
<br/>
<ion-note>Director: {{page.director}}</ion-note>
<br/>
<ion-note>Actor: {{page.actor}}</ion-note>
</ion-card-content>
</ion-card>
<ion-accordion-group>
  <ion-accordion value="StoryLine">
    <ion-item slot="header">
      <ion-label>StoryLine</ion-label>
    </ion-item>

    <ion-list slot="content">
      <ion-card>
        <ion-card-content>{{ content }}</ion-card-content>
      </ion-card>
    </ion-list>
  </ion-accordion>
  <ion-accordion value="Cast">
    <ion-item slot="header">
      <ion-label>Top Cast</ion-label>
    </ion-item>

    <ion-list slot="content">
            {% for as in page.cast %}
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{ as.ava }}" />
            </ion-avatar>
            <ion-label>
              <h2>{{as.nama}}</h2>
              <h4>pemeran {{as.sebagai}}</h4>
            </ion-label>
          </ion-item>
            {% endfor %}
    </ion-list>
  </ion-accordion>
</ion-accordion-group>
</div>
