<div class="container mt-2">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a class="badge text-bg-primary" href="/">Home</a></li>
		{% if page.url == '/blog' %}
		<li class="breadcrumb-item active" aria-current="page">Blog</li>
		{% elsif page.url contains '/blog/' or page.layout == 'post' %}
		<li class="breadcrumb-item" aria-current="page"><a class="badge text-bg-primary" href="/blog">Blog</a></li>
		<li class="breadcrumb-item active" aria-current="page">Post Blog</li>{% elsif page.url '/produk/' %}
		<li class="breadcrumb-item active" aria-current="page">Produk</li> {% elsif page.url contains '/admin/dashboard' %}
		<li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>{% endif %}
	  </ol>
	</nav>
</div>