    <!-- Modal -->
    <div class="modal modal-xl fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content simpleCart_shelfItem">
                <div class="modal-header">
                    <h5 class="modal-title item_name" id="postModalLabel">Judul Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="loading" class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="mt-2">Memuat data...</p>
                    </div>
					<div class="d-md-flex gap-3">
                    <img id="post-image" class="img-thumbnail mx-auto d-none mb-3 rounded item_thumb" alt="Post Image">
<p id="post-harga" class="item_price">Rp. </p>
                    <p id="post-content" class="d-none"></p>
					</div>
                      <div class="modal-footer">
                        <a href="javascript:;" type="button" class="btn btn-primary item_add">Beli Item</a>
                      </div>
                </div>
            </div>
        </div>
    </div>