

    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ site.avatar }}" alt="{{site.title}}" width="30" height="30" class="d-inline-block rounded align-text-top"> {{site.title}}
    </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include offcanvas.html %}
        </div>
    </nav>
