<style>
</style>
	<div class="sidebar-wrapper">
	<ion-grid class="sidebar-content content">
        <ion-row>
          <ion-col>
      <ion-card>
        <img class="bundar" src="/images/logo.png" />
		<div class="konten">
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content class="summary">
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
		</div>
      </ion-card>
	  </ion-col>
        </ion-row>
	</ion-grid>
	</div>
