<style>
</style>
	<div class="sidebar-wrapper">
<ion-router-link color="tertiary" href="https://cloudmining.page.link/RyzEx">
      <ion-card class="stick">
        <img alt="{{ site.title }}" class="bundar" src="https://ryzex.net/img/banners/ryzex-200.gif" width="100%" height="280px" />
		<div class="konten">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
<br>
        <ion-card-content class="summary">
        </ion-card-content>
		</div>
      </ion-card></ion-router-link>
	</div>
