
        <div class="container" id="skeleton">
    {% if page.layout == "default" %}
          <ion-list-header class="page-header" style="display:block;padding-left:0;border-radius:5px">
        <ion-toolbar>
            <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 280px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-toolbar>
          </ion-list-header>
    <div class="posts">
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
          <ion-card class="post cover">
            <ion-thumbnail class="post cover">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <div class="entry">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </div>
          </ion-card>
{% endif %}
    {% if page.layout == "post" %}
          <ion-list-header class="page-header" style="display:block;padding-left:0;border-radius:5px" translucent>
        <ion-toolbar>
            <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 280px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-toolbar>
          </ion-list-header>
<div class=" flex" style="margin-top: 4%;">
<div class="post-vid">
<ion-card no-padding>
<div class="video-container">
            <ion-thumbnail class="responsive-iframe">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
</div>
</ion-card>
</div>
<div class="aside">
<ion-card class="flex-in" style="height:60%;">
            <ion-thumbnail class="img-side" style="width: 40%;height:100%!important;">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
<ion-card-content style="width: 60%;height:40%">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
              <h3 style="margin-top:20px!important">
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
              <h3 style="margin-top:20px!important">
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
</ion-card-content>
</ion-card>
<ion-card-content style="width: 100%;">
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
              <h3 style="margin-top:20px!important">
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
</ion-card-content>
</div>
{% endif %}
        </div>
       </div>

    <style>
      #data {
        display: none;
      }

      #skeleton {
        display: block;
      }
    h3{margin:0!important;}
    </style>

    <script>
function onLoadSkeletonpost() {
  const skeletonEl = document.getElementById('skeleton');
  const dataEl = document.getElementById('data');

  setTimeout(() => {
    skeletonEl.style.display = 'none';
    dataEl.style.display = 'block';
  }, 2300);
}
    </script>
