
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<style type="text/css">
.my-contact {
    width: 100%;
    margin: auto;
    max-width: 350px;
}
.wa {
    background: #4fda86;
    }
.fab {
    width: 40px;
    height: 40px;
}
</style>

        <ion-content fullscreen class="ion-padding">
<ion-card class="my-contact">
<img class="wa" src="/images/wa.png"/>
			<form action="?" class="contact100-form validate-form" id='whatsapp'>
  <ion-card-content>
				<input class="tujuan" type="hidden" id="noAdmin">
<ion-item>
  <ion-label position="floating">* Nama</ion-label>
        <ion-input class="nama" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">* No. WhatsApp</ion-label>
        <ion-input class="nowhatsapp" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">* Isi Pesan</ion-label>
		<ion-textarea class="isi_pesan"></ion-textarea>
</ion-item>

  </ion-card-content>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button class="fab submit" color="success">
          <ion-icon name="send-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
			</form>
		</ion-card>
       </ion-content>
<script src="{{ site.baseurl }}/js/wa.js" type="text/javascript"></script>
