
.card-posts {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @include mobile { grid-template-columns: 1fr; grid-gap: 10px; }
}

.stickhead {
  @include mobile {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;}
 }
.sticky {
  @include mobile {
  background: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
}
.sticky + .content {
  @include mobile {
  padding-top: 20px; }
}


// Bootstrap Loading Skeleton
%loading-skeleton {
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border-color: #eee;

  &::placeholder {
    color: transparent;
  }
}
@keyframes loading-skeleton {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;
  
  img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
  }
  h1, h2, h3, h4, h5, h6,
  p, li,
  .btn,
  label,small,
  .form-control {
    @extend %loading-skeleton;
  }
}