$helvetica: 'Helvetica, Arial, sans-serif';
$darkerGray: #000333;
$helveticaNeue: 'Helvetica Neue, Helvetica, Arial, sans-serif';
$darkGray: #008888;
$blue: #00ffff;
$gray: #f0f0f0;
$lightGray: #f0f0f0;
$black: #000000;
$white: #ffffff;

a { text-decoration: none !important; }