<!DOCTYPE html>
<html>
  <head>
    {% include isihead.html %}
  </head>
  <body>
<!-- partial:index.partial.html -->
<!-- @ionic/core@latest https://ionicframework.com/docs/ -->
  <body onload="onLoadSkeletonpost()">
     <ion-app>
          <ion-content fullscreen>
            <div id="data">
            {% include header.html %}
            <div class="container">
                {{ content }}
            </div>
            {% include ion-footer.html %}
            </div>
            {% include skeleton.html %}
          </ion-content>
    </ion-app>
<script>
let elem = document.querySelector('.container');
let infScroll = new InfiniteScroll( elem, {
  // options
  path: '.pagination__next',
  append: '.post',
  history: false,
});

// element argument can be a selector string
//   for an individual element
let infScroll = new InfiniteScroll( '.container', {
  // options
});
</script>
  </body>
<!-- partial -->
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
            {% include allscript.html %}
<script>
  if('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('{{ site.baseurl }}/sw.js')
    })
  }
</script>
  </body>
</html>
