---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
            {% for style in page.img %}
      <img src="{{ style.img }}" class="d-block w-100" alt="{{ page.title }}">
            {% endfor %}
    </div>
  </div>
</div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>