---
layout: default
---

<style type="text/css">
.productPhotoWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    position: relative;
}
.pic-produk {
    max-width: 515px;
    height: fit-content;
}
.produkOrder {
    width: 100%;
    }
  
  .lightbox_wrapper {
padding: 10px;
margin: 10px;
text-align: center;
}
a.lightbox img {
height: 100px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: #ffffff;
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid #ffffff;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
border-radius: 50px;
border: 1px solid #000000;
background: #ffffff;
color: #000000;
text-decoration: none;
position: absolute;
top: -80px;
right: 40px;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: #000000;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: #000000;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}
</style>

<article class="page"  id='buyWhatsApp'>
<ion-card class="pic-produk">
    <a class="lightbox" href="#image"><img src="{{ page.image }}"></a>
    <div class="lightbox-target" id="image"><img src="{{ page.image }}"></a>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="productPhotoWrapper">
    <a class="lightbox" href="#image"><img src="{{ page.image }}"></a>
    <div class="lightbox-target" id="image"><img src="{{ page.image }}"></a>
   <a class="lightbox-close" href="#"></a>
</div>
    <a class="lightbox" href="#image"><img src="{{ page.image }}"></a>
    <div class="lightbox-target" id="image"><img src="{{ page.image }}"></a>
   <a class="lightbox-close" href="#"></a>
</div>
    <a class="lightbox" href="#image"><img src="{{ page.image }}"></a>
    <div class="lightbox-target" id="image"><img src="{{ page.image }}"></a>
   <a class="lightbox-close" href="#"></a>
</div>
    <a class="lightbox" href="#image"><img src="{{ page.image }}"></a>
    <div class="lightbox-target" id="image"><img src="{{ page.image }}"></a>
   <a class="lightbox-close" href="#"></a>
</div>

</div>
</ion-card>
    <div class="produkOrder">
<ion-card>
<ion-card-header>
  <ion-card-title>{{ page.title }}</ion-card-title>
  <ion-card-subtitle class="diskon">IDR.{{ page.diskon }}</ion-card-subtitle>
  <ion-card-title>IDR.{{ page.harga }}</ion-card-title>
</ion-card-header>
    <ion-card-content>
        {{ content }}
    <br />
<small><b color="warning">Disclaimer:</b> Persamaan warna foto katalog dengan produk asli mencapai 98%. Efek cahaya, kecerahan, kerapatan, dan resolusi layar memungkinkan terjadinya distorsi warna.</small>
    
    </ion-card-content>
</ion-card>
<ion-card>
<ion-card-header>
<ion-label>Order {{ page.title }}</ion-label>
</ion-card-header>
<div class='data-form validate-form' id='whatsapp'>
<input class='tujuan' id='noAdmin' type='hidden'/>
        <ion-item>
          <ion-label position="fixed">*Nama</ion-label>
          <ion-input class='nama wajib' placeholder="Nama Anda"></ion-input>
        </ion-item><ion-item>
          <ion-label position="fixed">*WhatsApp</ion-label>
          <ion-input class='nomor wajib' placeholder="No.WhatsApp" type="number"></ion-input>
        </ion-item>
<ion-item>
          <ion-label position="stacked">*Alamat</ion-label>
          <ion-textarea class='alamat wajib' placeholder="Alamat Lengkap"></ion-textarea>
        </ion-item>
 <ion-item>
          <ion-label>*Pilih Warna</ion-label>
          <ion-select class='warna wajib' placeholder='Warna' value="notifications" interface="action-sheet">
            <ion-select-option value="Hitam">Hitam</ion-select-option>
            <ion-select-option value="Putih">Putih</ion-select-option>
            <ion-select-option value="Pink">Pink</ion-select-option>
            <ion-select-option value="Marun">Marun</ion-select-option>
          </ion-select>
        </ion-item>
 <ion-item>
          <ion-label>*Pilih Model</ion-label>
          <ion-select class='tali wajib' placeholder='Model' value="notifications" interface="action-sheet">
            <ion-select-option value="HeadLoop">HeadLoop</ion-select-option>
            <ion-select-option value="EarLoop">EarLoop</ion-select-option>
            <ion-select-option value="Tali Ikat">Tali Ikat</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>*Jumlah</ion-label>
          <ion-select class='qty wajib' placeholder='Quatity' value="1">
            <ion-select-option value="1">1pcs</ion-select-option>
            <ion-select-option value="2">2pcs</ion-select-option>
            <ion-select-option value="3">3pcs</ion-select-option>
            <ion-select-option value="4">4pcs</ion-select-option>
            <ion-select-option value="5">5pcs</ion-select-option>
            <ion-select-option value="6">6pcs</ion-select-option>
            <ion-select-option value="7">7pcs</ion-select-option>
            <ion-select-option value="8">8pcs</ion-select-option>
            <ion-select-option value="9">9pcs</ion-select-option>
            <ion-select-option value="10">10pcs</ion-select-option>
          </ion-select>
        </ion-item>
 <ion-item>
          <ion-label>*Pilih Kurir</ion-label>
          <ion-select class='informasi wajib' placeholder='Informasi' value="notifications" interface="action-sheet">
            <ion-select-option value="J%26T Express">J&T Express</ion-select-option>
            <ion-select-option value="JNE Express">JNE Express</ion-select-option>
            <ion-select-option value="*GoSend">*GoSend</ion-select-option>
            <ion-select-option value="*GrabExpress">*GrabExpress</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>*Pembayaran</ion-label>
          <ion-select class='bayar wajib' placeholder='Bayar Dengan'>
            <ion-select-option value="Bank 1">Bank 1</ion-select-option>
            <ion-select-option value="Bank 2">Bank 2</ion-select-option>
            <ion-select-option value="Bank 3">Bank 3</ion-select-option>
            <ion-select-option value="Bank 4">Bank 4</ion-select-option>
          </ion-select>
        </ion-item>
<ion-item>
<ion-button fill="clear" class='sendWAclik kirim' slot="end" size="normal">Buy Now</ion-button>
</ion-item>
</div>
</ion-card>
    </div>
</article>
